@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.baseStyle;

.buttonGradient {
  @include mixins.buttonBaseSize;

  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$color-white;
  background: linear-gradient(135deg, variables.$color-primary, #15ccab, #c9ac2c);
  background-position: left 0 center;
  background-size: 200% 200%;

  @media (any-hover: hover) {
    transition: background-position 0.3s linear;

    &:hover,
    &:focus-visible {
      background-position: left 70% center;
    }
  }
}
