@use "./mixins/mixins.scss";

.buttonBorderGlow {
  @include mixins.resetButtonDefaultStyle;
  @include mixins.buttonBaseStyle;

  position: relative;
  padding: 2px;
  color: var(--color-white);
  background-color: var(--color-gray);
  border-radius: calc(64px / 2); // (buttonの高さ / 2) の値

  $button: &;
  
  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), var(--color-black), var(--color-gray), var(--color-black), var(--color-gray), var(--color-black));
    border-radius: calc(64px / 2); // (buttonの高さ / 2) の値
    opacity: 0;
  }

  @media (any-hover: hover) {
    #{$button}_bg {
      transition: opacity 0.3s linear;
    }

    &:hover,
    &:focus-visible {
      #{$button}_bg {
        opacity: 1;
        animation: gradient-spin 3s linear 0s infinite;
      }
    }

    @keyframes gradient-spin {
      0% {
        --angle: 0deg;
      }

      100% {
        --angle: 360deg;
      }
    }
  }

  &_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    border-radius: calc(64px / 2); // (buttonの高さ / 2) の値
  }
}