@charset "UTF-8";

/* aタグのリセットCSS（必要に応じて削除してください） */
a {
  color: inherit;
  text-decoration: none;
}

/* buttonタグのリセットCSS（必要に応じて削除してください） */
button {
  appearance: none;
  cursor: pointer;
  border: 0;
}

/* ボタンのスタイル */
.buttonNeumorphism {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  color: #222;
  background-color: #efefef;
  border-radius: 50%;
  box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgb(0 0 0 / 24%);
}

.buttonNeumorphism_item {
  background-color: #222;
}

@media (any-hover: hover) {
  .buttonNeumorphism {
    transition: box-shadow 0.2s;
  }

  .buttonNeumorphism:hover, .buttonNeumorphism:focus-visible {
    box-shadow: -2px -2px 4px #fff, 2px 2px 4px rgb(0 0 0 / 24%);
  }

  .buttonNeumorphism:active {
    background-color: #ebebeb;
    box-shadow: inset 4px 4px 8px rgb(0 0 0 / 16%);
  }
}

/* お問い合わせ用アイコンのスタイル */
.maskIconEmail {
  display: block;
  width: 32px;
  height: 32px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  mask-repeat: no-repeat;
  overflow-wrap: anywhere;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMy41IiB5PSI1LjUiIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgcng9IjEuNSIgc3Ryb2tlPSJibGFjayIvPgo8cGF0aCBkPSJNNiA5QzYgOSAxMS41IDEyIDEyIDEyQzEyLjUgMTIgMTggOSAxOCA5IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMy41IiB5PSI1LjUiIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgcng9IjEuNSIgc3Ryb2tlPSJibGFjayIvPgo8cGF0aCBkPSJNNiA5QzYgOSAxMS41IDEyIDEyIDEyQzEyLjUgMTIgMTggOSAxOCA5IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+");
}
