@charset "UTF-8";

/* aタグのリセットCSS（必要に応じて削除してください） */
a {
  color: inherit;
  text-decoration: none;
}

/* buttonタグのリセットCSS（必要に応じて削除してください） */
button {
  appearance: none;
  cursor: pointer;
  border: 0;
}

/* ボタンのスタイル */
.buttonIconText02 {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 8px 64px 8px 8px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #6fa24a;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

.buttonIconText02__reverse {
  flex-direction: row-reverse;
  padding: 8px 8px 8px 64px;
}

.buttonIconText02_icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
}

.buttonIconText02_icon_mask {
  background-color: #fff;
}

.buttonIconText02_text {
  flex-shrink: 1;
  width: 100%;
}

@media (any-hover: hover) {
  .buttonIconText02 {
    transition: background-color 0.2s;
  }

  .buttonIconText02_icon {
    transition: transform 0.2s;
  }

  .buttonIconText02:hover, .buttonIconText02:focus-visible {
    background-color: #54802f;
  }

  .buttonIconText02:hover .buttonIconText02_icon, .buttonIconText02:focus-visible .buttonIconText02_icon {
    transform: translateX(4px);
  }

  .buttonIconText02:hover .buttonIconText02_icon__left, .buttonIconText02:focus-visible .buttonIconText02_icon__left {
    transform: translateX(-4px);
  }
}

/* 右矢印アイコンのスタイル */
.maskIconArrowRight {
  display: block;
  width: 32px;
  height: 32px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  mask-repeat: no-repeat;
  overflow-wrap: anywhere;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDZMMTUuMjkyOSAxMS4yOTI5QzE1LjY4MzQgMTEuNjgzNCAxNS42ODM0IDEyLjMxNjYgMTUuMjkyOSAxMi43MDcxTDEwIDE4IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDZMMTUuMjkyOSAxMS4yOTI5QzE1LjY4MzQgMTEuNjgzNCAxNS42ODM0IDEyLjMxNjYgMTUuMjkyOSAxMi43MDcxTDEwIDE4IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+");
}

/* 左矢印アイコンのスタイル */
.maskIconArrowLeft {
  display: block;
  width: 32px;
  height: 32px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  mask-repeat: no-repeat;
  overflow-wrap: anywhere;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDZMMTUuMjkyOSAxMS4yOTI5QzE1LjY4MzQgMTEuNjgzNCAxNS42ODM0IDEyLjMxNjYgMTUuMjkyOSAxMi43MDcxTDEwIDE4IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+");
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDZMMTUuMjkyOSAxMS4yOTI5QzE1LjY4MzQgMTEuNjgzNCAxNS42ODM0IDEyLjMxNjYgMTUuMjkyOSAxMi43MDcxTDEwIDE4IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+");
  rotate: 180deg;
}
