@charset "UTF-8";

/* aタグのリセットCSS（不要な場合、セレクタごと削除してください） */
a {
  color: inherit;
  text-decoration: none;
}

/* buttonタグのリセットCSS（不要な場合、セレクタごと削除してください） */
button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* ボタンのスタイル */
.buttonIconText03 {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 8px 16px 8px 8px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: #6fa24a;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

.buttonIconText03__reverse {
  flex-direction: row-reverse;
  padding: 8px 8px 8px 16px;
}

.buttonIconText03_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  overflow: hidden;
}

@media (any-hover: hover) {
  .buttonIconText03 {
    transition: background-color 0.2s;
  }

  .buttonIconText03:hover {
    background-color: #54802f;
  }
} /* お問い合わせ用アイコンのスタイル */
.iconEmail {
  display: block;
  width: 32px;
  height: 32px;
}
