@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.resetStyle;

/* ボタンのスタイル */
.buttonOutlineGradient {
  @include mixins.buttonBaseStyle;

  position: relative;
  padding: 2px;
  background: linear-gradient(135deg, variables.$color-primary, #15a1cc);
  border-radius: calc(64px / 2); /* (buttonの高さ / 2) の値 */

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(135deg, variables.$color-primary, #15a1cc);
    filter: blur(8px);
    border-radius: calc(64px / 2); /* (buttonの高さ / 2) の値 */
    opacity: 0;
  }

  &_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: variables.$color-white;
    background-color: variables.$color-black;
    border-radius: calc(64px / 2); /* (buttonの高さ / 2) の値 */
  }

  @media (any-hover: hover) {
    &::before {
      transition: opacity 0.2s;
      will-change: filter;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}
