@charset "UTF-8";

/* サンプルに必要なCSS */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  place-content: center;
  place-items: center;
  height: 100%;
  padding: 64px 16px;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #efefef;
}

body.dark {
  background-color: #222;
}

/* aタグのリセットCSS */
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* buttonタグのリセットCSS */
button {
  cursor: pointer;
  border: 0;
}

.buttonRound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 8px 24px;
  font-size: 16px;
  color: #fff;
  background-color: #6fa24a;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

@media (any-hover: hover) {
  .buttonRound {
    transition: background-color 0.1s linear;
  }

  .buttonRound:hover, .buttonRound:focus-visible {
    background-color: #54802f;
  }
}
