@use "./variables" as variables;

@mixin buttonBaseSize {
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 8px 24px;
  font-size: 16px;
}

@mixin baseStyle {
  /* サンプルに必要なCSS */
  * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    place-content: center;
    place-items: center;
    height: 100%;
    padding: 64px 16px;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: variables.$color-black;
    background-color: variables.$color-gray-light;

    &.dark {
      background-color: variables.$color-black;
    }
  }

  /* aタグのリセットCSS */
  a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }

  /* buttonタグのリセットCSS */
  button {
    cursor: pointer;
    border: 0;
  }
}

@mixin iconBaseStyle {
  display: block;
  width: 32px;
  height: 32px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  mask-repeat: no-repeat;
}

@mixin maskIconEmail {
  /* お問い合わせ用アイコンのスタイル */
  .maskIconEmail {
    @include iconBaseStyle;

    -webkit-mask-image: variables.$image-icon-email;
    mask-image: variables.$image-icon-email;
  }
}

@mixin maskIconArrowRight {
  /* 右矢印アイコンのスタイル */
  .maskIconArrowRight {
    @include iconBaseStyle;

    -webkit-mask-image: variables.$image-icon-arrow;
    mask-image: variables.$image-icon-arrow;
  }
}

@mixin maskIconArrowBottom {
  /* 下矢印アイコンのスタイル */
  .maskIconArrowBottom {
    @include iconBaseStyle;

    -webkit-mask-image: variables.$image-icon-arrow;
    mask-image: variables.$image-icon-arrow;
    rotate: 90deg;
  }
}

@mixin maskIconArrowLeft {
  /* 左矢印アイコンのスタイル */
  .maskIconArrowLeft {
    @include iconBaseStyle;

    -webkit-mask-image: variables.$image-icon-arrow;
    mask-image: variables.$image-icon-arrow;
    rotate: 180deg;
  }
}

@mixin maskIconArrowTop {
  /* 上矢印アイコンのスタイル */
  .maskIconArrowTop {
    @include iconBaseStyle;

    -webkit-mask-image: variables.$image-icon-arrow;
    mask-image: variables.$image-icon-arrow;
    rotate: 270deg;
  }
}
