$color-primary: #6fa24a;
$color-primary-light: #dcedd2;
$color-primary-dark: #54802f;
$color-white: #fff;
$color-gray: #939393;
$color-gray-light: #efefef;
$color-black: #222;
$image-icon-arrow: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 6L15.2929 11.2929C15.6834 11.6834 15.6834 12.3166 15.2929 12.7071L10 18" stroke="black" stroke-linecap="round"/></svg>');
$image-icon-email: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3.5" y="5.5" width="17" height="12" rx="1.5" stroke="black"/><path d="M6 9C6 9 11.5 12 12 12C12.5 12 18 9 18 9" stroke="black" stroke-linecap="round"/></svg>');
