$color-blue: #2e63c5;
$color-blue-light: #e3edff;
$color-blue-dark: #153979;
$color-white: #fff;
$color-gray: #939393;
$color-gray-light: #efefef;
$color-black: #222;
$image-icon-arrow: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDZMMTUuMjkyOSAxMS4yOTI5QzE1LjY4MzQgMTEuNjgzNCAxNS42ODM0IDEyLjMxNjYgMTUuMjkyOSAxMi43MDcxTDEwIDE4IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+");
$image-icon-email: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMy41IiB5PSI1LjUiIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgcng9IjEuNSIgc3Ryb2tlPSJibGFjayIvPgo8cGF0aCBkPSJNNiA5QzYgOSAxMS41IDEyIDEyIDEyQzEyLjUgMTIgMTggOSAxOCA5IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+");
