@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.baseStyle;

/* ボタンのスタイル */
.buttonIconText {
  @include mixins.buttonBaseStyle;

  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 40px 8px 8px;
  color: variables.$color-white;
  background-color: variables.$color-primary;
  border-radius: calc(64px / 2); /* (buttonの高さ / 2) の値 */

  $button: &;

  &__reverse {
    flex-direction: row-reverse;
    padding: 8px 8px 8px 40px;
  }

  &_icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 48px;
    aspect-ratio: 1;
    padding: 4px;
    overflow: hidden;
    background-color: variables.$color-white;
    border-radius: 50%;

    &_mask {
      background-color: variables.$color-primary;
    }
  }

  &_text {
    flex-shrink: 1;
    width: 100%;
  }

  @media (any-hover: hover) {
    transition: background-color 0.1s linear;

    &_icon_mask {
      transition: background-color 0.1s linear;
    }

    &:hover,
    &:focus-visible {
      background-color: variables.$color-primary-dark;
      #{$button}_icon_mask {
        background-color: variables.$color-primary-dark;
      }
    }
  }
}

@include mixins.maskIconEmail;
@include mixins.maskIconArrowTop;
@include mixins.maskIconArrowRight;
@include mixins.maskIconArrowBottom;
@include mixins.maskIconArrowLeft;
