@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.baseStyle;

.buttonSolidShadow {
  @include mixins.buttonBaseSize;

  font-weight: bold;
  color: variables.$color-black;
  background-color: variables.$color-white;
  border: 2px solid variables.$color-black;
  box-shadow: 8px 8px 0 variables.$color-black;

  @media (any-hover: hover) {
    transition: box-shadow 0.1s linear;

    &:hover,
    &:focus-visible {
      box-shadow: 4px 4px 0 variables.$color-black;
    }
  }
}
