@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.resetStyle;

/* ボタンのスタイル */
.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  background-color: variables.$color-primary;
  border-radius: 50%;

  $button: &;

  @media (any-hover: hover) {
    transition: background-color 0.2s;

    &:hover {
      background-color: variables.$color-primary-dark;
    }
  }
}

@include mixins.iconEmail;
@include mixins.iconArrowTop;
@include mixins.iconArrowRight;
@include mixins.iconArrowBottom;
@include mixins.iconArrowLeft;
