@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.baseStyle;

.buttonList {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 16px;
}

.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  background-color: variables.$color-blue;
  border-radius: 50%;

  $button: &;

  &:focus-visible {
    outline-color: variables.$color-black;
    outline-offset: 3px;
  }

  &_item {
    background-color: variables.$color-white;
  }

  @media (any-hover: hover) {
    transition: background-color 0.1s linear;

    &:hover,
    &:focus-visible {
      background-color: variables.$color-blue-dark;
    }
  }
}

@include mixins.maskIconEmail;
@include mixins.maskIconArrowTop;
@include mixins.maskIconArrowRight;
@include mixins.maskIconArrowBottom;
@include mixins.maskIconArrowLeft;
