@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.resetStyle;

/* ボタンのスタイル */
.buttonIconText02 {
  @include mixins.buttonBaseStyle;

  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 64px 8px 8px;
  color: variables.$color-white;
  background-color: variables.$color-primary;
  border-radius: calc(64px / 2); /* (buttonの高さ / 2) の値 */

  $button: &;

  &__reverse {
    flex-direction: row-reverse;
    padding: 8px 8px 8px 64px;
  }

  &_icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;

    &_mask {
      background-color: variables.$color-white;
    }
  }

  &_text {
    flex-shrink: 1;
    width: 100%;
  }

  @media (any-hover: hover) {
    transition: background-color 0.2s;

    &_icon {
      transition: transform 0.2s;
    }

    &:hover {
      background-color: variables.$color-primary-dark;
      #{$button}_icon {
        transform: translateX(4px);

        &__left {
          transform: translateX(-4px);
        }
      }
    }
  }
}

@include mixins.maskIconArrowRight;
@include mixins.maskIconArrowLeft;
