@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.baseStyle;

.buttonIconText02 {
  @include mixins.buttonBaseSize;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px 16px 8px 8px;
  color: variables.$color-white;
  background-color: variables.$color-primary;
  border-radius: calc(64px / 2); /* (buttonの高さ / 2) の値 */

  &__reverse {
    flex-direction: row-reverse;
    padding: 8px 8px 8px 16px;
  }

  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;

    &_mask {
      background-color: variables.$color-white;
    }
  }

  @media (any-hover: hover) {
    transition: background-color 0.1s linear;

    &:hover,
    &:focus-visible {
      background-color: variables.$color-primary-dark
    }
  }
}

@include mixins.maskIconEmail;
