:root {
  --color-blue: #2e63c5;
  --color-blue-light: #e3edff;
  --color-blue-dark: #153979;
  --color-white: #fff;
  --color-gray: #939393;
  --color-gray-light: #efefef;
  --color-black: #222;
}

@property --angle{
  syntax: '<angle>'; /* its type */
  inherits: false;
  initial-value: 0deg; /* the initial value */
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  padding: 64px 16px;
  padding-top: 80px;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

pre {
  width: 100%;
  margin: 0;
  overflow: auto;
  line-height: normal;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 8px;
}

.accordion {
  background-color: var(--color-white);
  border: solid 1px #d3d3d3;
  border-radius: 8px;

  $accordion: &;

  &_summary {
    padding: 16px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-black);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 8px;
  }

  &_content {
    padding: 16px;
  }

  &[open] {
    #{$accordion}_summary {
      background-color: var(--color-gray-light);
      border-radius: 8px 8px 0 0;
    }
  }
}

.codeUnit {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  width: 100%;
  font-size: 14px;
}

.code {
  &_label {
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1;
    border: solid 1px var(--color-black);
    border-radius: 4px;
  }

  &_main {
    padding: 16px;
    white-space: pre;
    border-radius: 8px;
  }
}

h2 {
  margin: 0;
  font-size: 18px;
  color: var(--color-black);
  text-align: left;
}

.recipeList {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 64px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;

  &_main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    justify-items: center;
    padding: 64px;
    background-color: var(--color-gray-light);

    &__bgBlack {
      background-color: var(--color-black);
    }
  }
}

.maskIcon {
  display: block;
  width: 32px;
  height: 32px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  mask-repeat: no-repeat;

  &__email {
    -webkit-mask-image: url("../images/icon_mail_outline.svg");
    mask-image: url("../images/icon_mail_outline.svg");
  }

  &__arrowRight {
    -webkit-mask-image: url("../images/icon_arrow.svg");
    mask-image: url("../images/icon_arrow.svg");
  }

  &__arrowBottom {
    -webkit-mask-image: url("../images/icon_arrow.svg");
    mask-image: url("../images/icon_arrow.svg");
    rotate: 90deg; 
  }

  &__arrowLeft {
    -webkit-mask-image: url("../images/icon_arrow.svg");
    mask-image: url("../images/icon_arrow.svg");
    rotate: 180deg; 
  }

  &__arrowTop {
    -webkit-mask-image: url("../images/icon_arrow.svg");
    mask-image: url("../images/icon_arrow.svg");
    rotate: 270deg; 
  }
}

.menu {
  display: flex;
  padding: 0 16px;
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
}