@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.resetStyle;

/* ボタンのスタイル */
.buttonBasic {
  @include mixins.buttonBaseStyle;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  color: variables.$color-white;
  background-color: variables.$color-primary;

  @media (any-hover: hover) {
    transition: background-color 0.2s;

    &:hover {
      background-color: variables.$color-primary-dark;
    }
  }
}
