/* aタグのリセットCSS（不要な場合、セレクタごと削除してください） */
a {
  color: inherit;
  text-decoration: none;
}

/* buttonタグのリセットCSS（不要な場合、セレクタごと削除してください） */
button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* ボタンのスタイル */
.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  background-color: #6fa24a;
  border-radius: 50%;
}

@media (any-hover: hover) {
  .buttonIcon {
    transition: background-color 0.2s;
  }

  .buttonIcon:hover {
    background-color: #54802f;
  }
}

/* 下矢印アイコンのスタイル */
.iconArrowBottom {
  rotate: 90deg;
}

/* 左矢印アイコンのスタイル */
.iconArrowLeft {
  rotate: 180deg;
}

/* 上矢印アイコンのスタイル */
.iconArrowTop {
  rotate: 270deg;
}
