@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.baseStyle;

.buttonNeumorphism {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
  background-color: variables.$color-gray-light;
  border-radius: 50%;
  box-shadow: -4px -4px 8px variables.$color-white, 4px 4px 8px rgb(0 0 0 / 24%);

  $button: &;

  &_item {
    background-color: variables.$color-black;
  }

  @media (any-hover: hover) {
    transition: all 0.1s linear;

    &:hover,
    &:focus-visible {
      box-shadow: -2px -2px 4px variables.$color-white, 2px 2px 4px rgb(0 0 0 / 24%);
    }

    &:active {
      background-color: #ebebeb;
      box-shadow: inset 4px 4px 8px rgb(0 0 0 / 16%);
    }
  }
}

@include mixins.maskIconEmail;
