body {
  margin: 0;
  font-family: sans-serif;
}

.demo-page {
  display: grid;
  gap: 16px;
  box-sizing: border-box;
  place-content: center;
  place-items: center;
  min-height: 100dvh;
  padding: 64px 16px;
  background-color: #efefef;
}

.dark-page {
  background-color: #222;
}
