@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.baseStyle;

.buttonOutline {
  @include mixins.buttonBaseSize;

  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$color-blue;
  background-color: variables.$color-white;
  border: 1px solid variables.$color-blue;

  @media (any-hover: hover) {
    transition: background-color 0.1s linear;

    &:hover,
    &:focus-visible {
      background-color: variables.$color-blue-light;
    }
  }
}
