@use "../_mixins.scss" as mixins;
@use "../_variables.scss" as variables;
@include mixins.baseStyle;

/* ボタンのスタイル */
.buttonOutline {
  @include mixins.buttonBaseStyle;

  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$color-primary;
  background-color: variables.$color-white;
  border: 2px solid variables.$color-primary;

  @media (any-hover: hover) {
    transition: background-color 0.1s linear;

    &:hover,
    &:focus-visible {
      background-color: variables.$color-primary-light;
    }
  }
}
